extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='title') Название:
      input#title.form-control(type='text', placeholder='Название книги' name='title' required='true' value=(book === undefined ? '' : book.title))
    div.form-group
      label(for='author') Автор:
      select#author.form-control(type='select', placeholder='Выберите автора' name='author' required='true')
        - authors.sort(function(a, b) {let textA = a.familyName.toUpperCase(); let textB = b.familyName.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for author in authors
          if book
            //- Обновляет книгу по запросу GET, если book.author - это объект, и по запросу POST - если строка.
            option(value = author._id selected=(author._id.toString() === book.author._id || author._id.toString() === book.author ? 'selected' : false)) #{author.name}
          else
            option(value=author._id) #{author.name}
    div.form-group
      label(for='summary') Краткое содержание:
      textarea#summary.form-control(type='textarea', placeholder='Краткое содержание' name='summary' rows='3' required='true') #{udefined === book ? '' : book.summary}
    div.form-group
      label(for='isbn') ISBN:
      input#isbn.form-control(type='text', placeholder='ISBN12' name='isbn' value=(undefined === book ? '' : book.isbn) required='true')
    div.form-group
      label Жанр:
      div
        for genre in genres
          div(style='display:inline;padding-right:10px;')
            input.checkbox-input(type='checkbox', name='genre', id=genre._id, value=genre._id, checked=genre.checked)
            label(for=genre._id) &nbsp;#{genre.name}
    button.btn.btn-primary(type='submit') Отправить

  if errors
    ul
      for error in errors
        li!= error.msg
