extends layout

block content
  h1= title
  p Добро пожаловать в #{title}!

  p Это - строка с содержащей #[em смысловое ударение] и с содержащей #[strong текст повышенной значимости] разметкой.
  p Данная строка включает незаэкранированное содержимое: !{'<em>с речевым подчёркиванием</em>'} - и заэкранированное содержимое: #{'<em>без речевого подчёркивания</em>'}.
    | Данная строка примыкает к предыдущему абзацу без переноса строки и без пробела.
  p= 'Вычисляемая и <em>заэкранированная инструкция</em>: ' + title

  <!-- Возможно добавлять комментарии HTML непосредственно -->
  // Возможно добавлять однострочный комментарий JavaScript'а, и он преобразовывается в комментарий HTML
  //- Написание в начале строки комментария JavaScript'а комбинации символов «//-» гарантирует, что комментарий не будет отрисован в HTML'е

  p Строка со ссылкой:#{' '}
    a(href='/catalog/authors') Некоторый текст собственно ссылки
    | #{' '}и некоторый текст, не оформляемый как ссылка.

  #container.col
    if title
      p Переменная "title" существует.
    else
      p Переменная "title" не существует.
    p.
      Pug - это краткий и простой язык шаблона, в большей степени ориентированный на производительность и мощные инструментальные средства.

  h2 Сформировать список

  ul
    each val in [1, 2, 3, 4, 5]
      li= val
